# Add below lines to exclude OS settings and caches
.DS_Store
Thumbs.db
.trash/
.cache/

# Ignore volatile UI-related state
.obsidian/workspace.json
.obsidian/app.json
.obsidian/plugins
# to exclude workspace cache specific to mobile devices
.obsidian/workspace-mobile.json
